[submodule "bgfx"]
	path = lib/bgfx
	url = https://github.com/bkaradzic/bgfx
	branch = master
[submodule "bx"]
	path = lib/bx
	url = https://github.com/bkaradzic/bx
	branch = master
[submodule "bimg"]
	path = lib/bimg
	url = https://github.com/bkaradzic/bimg
	branch = master
